<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <main>
    <h1>Welcome</h1>
    <a href="/orders">Make Orders</a>
    <a href="/check">Check Orders</a>
    <form action="/" method="POST">
      <input type="number" name="table" id="table">
      <button>submit</button>
    </form>
    
  </main>
</body>
</html>